<div class="carousel">
  <app-carousel></app-carousel>
</div>
<div class="second--sec">
  <div class="container">
    <div class="pageSpace">
      <app-home-flight-cards/>
    </div>
  </div>
</div>
<div class="sec-3">
  <div class="container">
    <div class="pageSpace">
      <h2 class="">Why Travel Everywhere? </h2>
      <div class="row ">
        <div class="col-md-3 text-center">
          <i class="fa-solid fa-mosque"></i>
          <h3>Islamic Principles</h3>
          <p>We ensure that all flights and accommodations comply with Islamic values, offering a worry-free experience for Muslim travelers.</p>
        </div>
        <div class="col-md-3 text-center">
          <i class="fa-solid fa-earth-americas"></i>
          <h3>Experienced</h3>
          <p>Our friendly consultants travel regularly & offer first hand advice.</p>
        </div>
        <div class="col-md-3 text-center">
          <i class="fa-regular fa-face-smile"></i>
          <h3>Convenient</h3>
          <p>We coordinate your travel so flights, transfers & tours all connect smoothly.</p>
        </div>
        <div class="col-md-3 text-center">
          <i class="fa-solid fa-dollar-sign"></i>
          <h3>Competitive</h3>
          <p>We pride ourselves on sourcing the best available deals.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sec-4">
  <div class="container">
    <div class="pageSpace">
      <h2 class="">About Travel Everywhere? </h2>
      <div class="row about-row">
        <div class="col-md-6">
          <img src="../../../assets/images/aboutUs.webp" alt="">
        </div>
        <div class="col-md-6">
          <p>
            Welcome to Travel Everywhere, your trusted partner for exploring the world! We specialize in creating unforgettable travel experiences tailored to your needs. From discovering breathtaking destinations to planning spiritual journeys that uphold Islamic values, our mission is to inspire and connect travelers across the globe.
          </p>
        </div>
      </div>


    </div>
</div>

