<div class="aboutUs">
  <div class="container">
      <div class="row pageSpace about-row">
        <h2 class="">About Travel Everywhere </h2>
        <div class="col-md-6">
          <img src="assets/images/aboutUs.webp" alt="">
        </div>
        <div class="col-md-6">
          <p>
            Established in 1994, Travel Everywhere has grown to become a trusted name in the online travel industry, specializing in global travel experiences with a unique focus on upholding Islamic principles. Over the years, we have proudly served countless travelers, helping them explore the world while maintaining their values and beliefs.

            At Travel Everywhere, we’re passionate about creating unforgettable journeys. Our dedicated travel consultants are here to provide personalized service, ensuring every trip is tailored to suit your needs. Whether you’re seeking adventure, relaxation, or a spiritual journey, our packages offer some of the most competitive prices in the market, thanks to exclusive deals sourced from leading industry partners.

            We’re proud to be globally recognized yet remain deeply committed to our values. Our expertise spans popular destinations worldwide, including Australia, Europe, Asia, and the Middle East, as well as sacred destinations like Makka and Madena for those embarking on spiritual pilgrimages.

            While we provide the convenience of an online platform, we also know the value of personal connection. That’s why our experienced team is always just a phone call or email away, ready to assist you with any questions or concerns. With Travel Everywhere, you enjoy the best of both worlds – the ease of online booking and the comfort of personalized service.

            Let us guide your next journey. Whether you're crossing continents or seeking a spiritual retreat, Travel Everywhere is here to make every step of the journey truly meaningful.
          </p>
        </div>
      </div>
      <div class="row pageSpace mission">
        <h2>Our Mission</h2>
        <p>At Travel Everywhere, our mission is simple: to make travel accessible, enjoyable, and aligned with your values. We believe everyone deserves the chance to explore the beauty of the world while feeling supported and respected in their beliefs.</p>
      </div>
      <div class="row pageSpace offers">
        <h2>What we offer</h2>
        <ul class="row">
          <li class="col-md-4">
            <i class="fa-solid fa-tag"></i> Affordable and Competitive Deals
          </li>
          <li class="col-md-4">
            <i class="fa-solid fa-headset"></i> Exquisite Customer Service
          </li>
          <li class="col-md-4">
            <i class="fa-solid fa-dollar-sign"></i> Unparalleled Prices
          </li>
          <li class="col-md-4">
            <i class="fa-solid fa-calendar-check"></i> Flexible Booking Options
          </li>
          <li class="col-md-4">
            <i class="fa-solid fa-gift"></i> Personalized Travel Packages
          </li>
          <li class="col-md-4">
            <i class="fa-solid fa-pray"></i> Islamic Values Guaranteed
          </li>
        </ul>

      </div>
      <div class="row pageSpace whyUs">
        <h2 class="">Why Travel Everywhere? </h2>
        <div class="row ">
          <div class="col-md-3 text-center">
            <i class="fa-solid fa-mosque"></i>
            <h3>Islamic Principles</h3>
            <p>We ensure that all flights and accommodations comply with Islamic values, offering a worry-free experience for Muslim travelers.</p>
          </div>
          <div class="col-md-3 text-center">
            <i class="fa-solid fa-earth-americas"></i>
            <h3>Experienced</h3>
            <p>Our friendly consultants travel regularly & offer first hand advice.</p>
          </div>
          <div class="col-md-3 text-center">
            <i class="fa-regular fa-face-smile"></i>
            <h3>Convenient</h3>
            <p>We coordinate your travel so flights, transfers & tours all connect smoothly.</p>
          </div>
          <div class="col-md-3 text-center">
            <i class="fa-solid fa-dollar-sign"></i>
            <h3>Competitive</h3>
            <p>We pride ourselves on sourcing the best available deals.</p>
          </div>
        </div>
      </div>
  </div>
</div>
