<div class="container mt-4">
  <div class="card p-4 flight-detail-card">
    <div class="row align-items-center mb-3">
      <!-- Circular Logo Image -->
      <div class="col-auto">
        <img [src]="flightDetails.allJourney.flights[0].flightAirline.airlineLogo" class="rounded-circle logo-img" alt="logo">
      </div>

      <!-- Airline Details -->
      <div class="col">
        <h4>{{flightDetails.allJourney.flights[0].flightAirline.alternativeBusinessName}} ({{flightDetails.allJourney.flights[0].flightAirline.airlineCode}})</h4>
        <p>Flight Number: {{flightDetails.allJourney.flights[0].flightDTO[0].flightInfo.flightNumber}}</p>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <h6>Departure</h6>
        <p>Date: {{flightDetails.allJourney.flights[0].flightDTO[0].departureDate | date:'dd/MM/yyyy'}} at {{flightDetails.allJourney.flights[0].flightDTO[0].departureDate | date:'hh:mm a'}}</p>
        <p>{{flightDetails.allJourney.flights[0].flightDTO[0].departureTerminalAirport.cityName}}, <span class="airport-name">{{flightDetails.allJourney.flights[0].flightDTO[0].departureTerminalAirport.airportName}}</span></p>
      </div>
      <div class="col text-center">
        <span class="arrow">&#8594;</span>
      </div>
      <div class="col">
        <h6>Arrival</h6>
        <p>Date: {{flightDetails.allJourney.flights[0].flightDTO[0].arrivalDate | date:'dd/MM/yyyy'}} at {{flightDetails.allJourney.flights[0].flightDTO[0].arrivalDate | date:'hh:mm a'}}</p>
        <p>{{flightDetails.allJourney.flights[0].flightDTO[0].arrivalTerminalAirport.cityName}}, <span class="airport-name">{{flightDetails.allJourney.flights[0].flightDTO[0].arrivalTerminalAirport.airportName}}</span></p>
      </div>
    </div>

    <div class="row mb-3 flex-column">
      <div class="col">
        <h6>Total Duration</h6>
        <p>{{flightDetails.totalDuration | mintueToHour}}</p>
        <p *ngIf="flightDetails.allJourney.flights[0].flightDTO.length > 1">Transit: Yes</p>
        <p *ngIf="flightDetails.allJourney.flights[0].flightDTO.length == 1">Direct Flight</p>
      </div>
      <div class="col">
        <h6>Total Fare</h6>
        <p>{{(flightDetails.itinTotalFare.amount + flightDetails.itinTotalFare.totalTaxes).toFixed(2) + " "}}{{flightDetails.itinTotalFare.currencyCode}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn btn-primary btn-lg">Book Now</button>
      </div>
      <div class="col text-right">
        <button class="btn btn-secondary btn-lg" (click)="goBack()">Go Back</button>
      </div>
    </div>
  </div>
</div>
